@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 570px) and (max-width: 900px) {
  .prodcuts-list {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 560px) {
  .prodcuts-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 810px) {
  .cart-divider {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 400px) {
  .product-price {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .product-buy-price {
    flex-direction: column;
    gap: 20px;
  }
}
